#topbar
{
    background-color: white;
    height:10px;
    width:100%;
    color:red;
    
}
body{
    background-color: white;
}
#container
{
    
   
    width: 70%;
    margin: 0px auto;
}
#header
{
   
    height: 80px;
    background-color:#fefefe;

}
#header img
{
    height: 70px;
}
#header ul
{
    float:right;
    margin-top: 30px;

}
#header ul li
{
display: inline;
margin-right: 45px;

}
#header ul li a{
    color: grey;
    text-decoration: none;
    font-size: 20px;

}
#banner img
{
    width: 100%;
    padding-bottom: 20px;
    
}
#content1
{
    width: 32%;
    height: 345px;
    background-color: #f86900;
    float:left;
    margin-right: 2%;
    padding-bottom: 20px;
   
    
   
    
}
#content2
{
    width: 32%;
    height: 345px;
    background-color: #ffc502;
    float:left;
    padding-bottom: 20px;
    

}
#content3
{
    width: 32%;
    height: 345px;
    background-color: #a2c511;
    float:right;
    padding-bottom: 20px;
    
}
.heading
{
    color: white;
    margin-left: 20px;

}
.par
{
    color:white;
    margin-left: 10px;
    margin-right: 20px;
}
.more
{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px;
    margin-left: 20px;
    
}
#footer
{
    
    width: auto;
    height: 65px;
    background-color: white;
    clear:both;
    color: grey;
    margin: 0px auto;
   text-align: right;
   font-size: 25px;
   
   
    
  
}
